<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangle List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mt-5">
                <h1 class="text-center mb-4">Rectangles</h1>
                <div class="text-right mb-3">
                    <button class="btn btn-primary" onclick="window.location.href='/rectangleForm'">Add Rectangle</button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rectangle : ${rectangles}">
                            <td th:text="${rectangle.name}"></td>
                            <td>
                                <span th:style="'background-color:' + ${rectangle.color} + ';'" class="badge badge-pill">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span th:text="${rectangle.color}"></span>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <form th:action="@{/rectangles/delete}" th:method="post" class="d-inline">
                                        <input type="hidden" name="name" th:value="${rectangle.name}" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <a th:href="@{'/displayUpdatedRectanglesForm?rid=' + ${rectangle.rid}}" class="btn btn-secondary">Update</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT//8Lhr59Hb4yQZllOe2RymqkWcz0HkzPY5pITp6nVzvW3eFu" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-6bA7l4eUZvY3dtg7Kj4jMJdnwUpn84DQ7tEE7Mny2X06jr7in0a84VY3KbbX3P1M" crossorigin="anonymous"></script>
</body>
</html>
